resources/billing.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="first" type="xs:string"/>
  <xs:element name="last" type="xs:string"/>
  <xs:element name="sequence" type="xs:byte"/>
  <xs:element name="details" type="xs:string"/>
  <xs:element name="amount" type="xs:float"/>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sequence"/>
        <xs:element ref="details"/>
        <xs:element ref="amount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-id" type="xs:short"/>
  <xs:element name="name">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="first"/>
        <xs:element ref="last"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="address" type="xs:string"/>
  <xs:element name="total" type="xs:float"/>
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="billing-record">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-id"/>
        <xs:element ref="name"/>
        <xs:element ref="address"/>
        <xs:element ref="total"/>
        <xs:element ref="items"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="billing-records">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="billing-record" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>